<div class="container" id="front-page">
	<div class="video">
	<iframe class="front-page-video"src="https://player.vimeo.com/video/136697926?color=ff9933" width="587" height="330" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="main" id="about">
		<p>This year at the <a href="http://www.1stplacesports.com/jm.html">Jacksonville Bank Half Marathon</a>, a group of runners who have qualified for the Olympic Trials Marathon with an "A" Standard (2:37:00 or better in a marathon) will be running this race as a tune-up for the Olympic Trials Marathon, and several of them have agreed to pace a group of hopefuls to a 1:15:00 or better to qualify for the "B" Standard.  An event like this is unprecedented in the US Marathon athletic field.</p>
	</div>
	<div class="button-banner" id="">
		<a href="./<%= @runners %>runners"><button>The Athletes</button></a>

		<a href="http://www.saltyrunning.com/about"><button>About Us</button></a>

		<a href="https://vimeo.com/wendycitypro"><button>Miles & Trials</button></a>
	</div>

</div>