<div class="container" id="page">
<div id="about">
		<p>This year at the <a href="http://www.1stplacesports.com/jm.html">Jacksonville Bank Half Marathon</a>, a group of runners who have qualified for the Olympic Trials Marathon with an "A" Standard (2:37:00 or better in a marathon) will be running this race as a tune-up for the Olympic Trials Marathon, and several of them have agreed to pace a group of hopefuls to a 1:15:00 or better to qualify for the "B" Standard.  An event like this is unprecedented in the US Marathon athletic field.</p>
	</div>

<div id="runners-list">
	<h2 class="categories">The Runners</h2>
	<ul id="">
		<% @runners.each do |runner| %>
		<li>
			<div class = "box">
			<a href="./runners/<%= runner.id %>"><img id="runnerpic" src="<%= runner.img_url%>" alt= "<%= "#{runner.first_name} #{runner.last_name}" %>">
			<span><%= "#{runner.first_name} #{runner.last_name}" %></span></a>
			</div>
		</li>
		<% end %>
	</ul>
</div>
<br>
<a href="./runners/new"><button>Add Runner</button></a>
</div>