<div id="user-page">
<h1>Welcome <%= @user.username%></h1><br>

<ul class="user-options">
  <li><a href="../">Return Home</a></li>
  <li><a href="../edit">Edit Profile</a></li>

<% puts case a %>
<% when @user.user_type = "editor" %>
  <li><a href="../runners/index">Manage Runners</a></li>
  <li><a href="../media/">Manage Media</a></li>
  <% when @user.user_type = "admin" %>
  <li><a href="../admin/edit">Manage Users</a></li>
  <% end %>
<% end %>


  

</ul>



<h1></h1><br><br>

<%#=button_to 'DELETE', @user, :method => :delete %>

</div>