/***********/
/* Navbar                                                                          */
/***********/

#navbar {
	position: absolute;
	background-color: rgba(0,0,0,0.1);
	top: 0;
	right: 0;
	width: 100%;
	padding: .2em;
}

#navbar ul {
	float: right;
	margin: 0 auto;
	margin-right: 2em;
	display: inline-block;
}

#navbar li {
	display: block;
	float: left;
	text-align: center;
	text-transform: uppercase;
}

#navbar li:before {
	content: "//";
	padding: 1em 1em;
	font-weight: 700;
	color: rgba(0,0,0,.6);
}

#navbar li a {

	color: #fb8a03;
}

#navbar li:hover a, #navbar li.active a {
	color: rgba(0,0,0,.6);
}

#navbar .current_page_item a {
	color: rgba(0,0,0,.8);
}

/***********/
/* Header                                                                          */
/***********/

#header {
	position: relative;
	padding: 1em 0em;
}

#logo {
	position: absolute;
	top: -0.5em;
	left: 0;
	font-size: 2em;
}

#logo a {
	color: #8dc63f;
	text-decoration: none;
}

/*************/
/* Body
/*************/

body {
width: 100%;
margin: 0px;
padding: 2em;
background: #ffffff;
font-family: 'Source Sans Pro', sans-serif;
font-size: 14pt;
font-weight: 300;
color: #000000;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
	color: #8dc63f;
}

h1 {
	text-decoration: none;
}

h2 {
	font-size: 3em;
	text-decoration: none;
	text-transform: uppercase;
}

.warning {
	text-transform: uppercase;
	color: red;

}

h2.categories {
	text-align: center;
}

p, ol, ul {
	margin-top: 0;
	display: inline;

}


p {
	position: relative;
	line-height: 140%;
	text-align: justify;
	padding-right: 2em;
}

strong {
	color: #8dc63f;
}

a
{
	color: #8dc63f;
}

a:hover {
	color: #32CD32;
}

#front-page {
	position: relative;
	width: 80%;
	left: auto;
	right: auto;
	overflow: hidden;
	padding: 8em 0em;
	display: inline;
}

#page {
	position: relative;
	top: 2em;
	width: 80%;
	left: auto;
	right: auto;
	overflow: hidden;
	padding: 8em 2em;
	display: inline;
}

button {
	display: inline-block;
	margin-top: 2em;
	padding: .6em 1.2em .6em 1.2em;
	background: #8dc63f;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #ffffff;
}

button.delete {
	background-color: red;
}

button > a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	color: #ffffff;
}

button.delete > a {
	font-size: 1.5em;
}

.form {
       text-align: center;
}

/**********/
/* Footer                                                                     */
/**********/
.footer {
	width: 100%;
	display: inline-block;
}
#copyright {
	overflow: hidden;
	margin: 5em 0em;
	border-top: 1px solid rgba(0,0,0,0.1);
}

#copyright p {
	letter-spacing: 0.20em;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	color: rgba(0,0,0,0.6);
}

#copyright a {
	text-decoration: none;
	color: rgba(0,0,0,1);
}

#error_explanation h2{
	color: #fb8a03;
	font-size: 1.5em;
}
#error_explanation ul{
	font-weight: bold;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



/*************************************************
Front Page View
*************************************************/


/*Front Page Only */
.button-banner {
	position: relative;
	text-align: center;
	margin: 0 auto;
}
.button-banner button {
	display: inline-block;
	position: relative;
	margin:2em;
}

/*Shared by front page and pages*/
.main {
	width: 80%;
	text-align: justify;
	margin-top: 2em;
	padding: 2em;
}



/*************************************************
Runners View
*************************************************/



/* runners index only */
#runners-list {
	position: relative;
	display: inline;
	overflow: hidden;
	padding: 15em 0em;
	background-size: cover;
	border-top: 1px solid rgba(0,0,0,0.08);
	margin: 0 auto;
}

/* runners index only */
#runners-list > ul >li {
	display: inline-block;
}

/* runners index only */
.box {
	position: relative;
	width: 250px;
	height: 270px;
	text-align: center;
	margin-bottom: 2em;
	border-bottom: 1px solid rgba(0,0,0, .1);
	font-weight: 600;
	font-size: 1.6em;
	margin: 20px;
}

/* runners index only - the little green name boxes*/
.box span {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em 1em;
	background: rgba(141, 198, 63, 0.8);
	display: inline-block;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: .6em;
	color: #ffffff;
	width: 86% !important;
	z-index: 1;
}

/* runners index page only */
#runnerpic {
	position: static;
	width: 100% !important;	
	height: 100% !important;
	z-index: -1;
}

/*runner show page only*/
#profile-pic {
	float:left;
	padding: 1em;
}

/*runner show page */

.bio > h3 {
	margin-bottom: 1em;
}

.bio > p {
	text-align: left;
	padding: 1em;
}

